.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;

}

.page-header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-color-dark);
    margin-right: 93px;
}

.logo-header-part1 {
    color: var(--accent-color);
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: 318px;
}

.menu-link {
    display: flex;
    column-gap: 30px;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    transition: color var(--transition-duration-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.caren-studio::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: var(--accent-color);
        border-radius: 2px;
        bottom: 0;
        left: 0;
        top: 44px;
        transition: color var(--transition-duration-function);
    }
}

.menu-item {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.contact-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 161px;
    height: 16px;
    transition: color var(--transition-duration-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &:hover .icon-mail,
    &:focus .icon-mail {
        fill: currentColor;
    }
}

.contact-phone-number {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 142px;
    height: 16px;
    transition: color var(--transition-duration-function);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &:hover .icon-mobile,  
    &:focus .icon-mobile {
        fill: currentColor;
    }
}

.contact-mail,
.contact-phone-number {
    color: var(--primary-text-color-theme-gray);
}

.icon-mail {
    content: '';
    width: 100%;
    height: 100%;
    fill: var(--primary-text-color-theme-gray);
    transition: fill var(--transition-duration-function);
}

.icon-mobile {
    width: 100%;
    height: 100%;
    fill: var(--primary-text-color-theme-gray);
    transition: fill var(--transition-duration-function);
}